@using registration.Controllers;
@using registration.Auth;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dashboard";
}

<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/qrcode.min.js"></script>
<script src="~/scripts/pages/dashboard/index.js"></script>

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-8 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <h4 class="h4 font-weight-bold text-primary text-uppercase mb-1">Deposit</h4>
                            <small>Add money to your TUP account.</small>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-location-arrow fa-2x text-gray-300"></i>
                        </div>
                    </div>
                    <div class="row no-gutters mt-2">
                        <div class="col">
                            <button data-toggle="modal" data-target="#deposit-modal" class="btn btn-primary btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span class="text">Add Money</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-8 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Orders</div>
                            <h5 class="h5 mb-0 font-weight-bold text-gray-800">101</h5>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-cat fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-4 col-md-8 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Branches</div>
                            <h5 class="h5 mb-0 font-weight-bold text-gray-800">19</h5>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Sales Overview</h6>
                    @*<%--<div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>--%>*@
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Orders Overview</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="areas-graph"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deposit-modal" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deposit</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-12">
                        <label class="text-primary">Amount (Peso):</label>
                        <input class="form-control" id="deposit-amount" type="number" min="0" data-name="amount" />
                        <label id="error-deposit-amount" class="text-danger" style="display:none"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="deposit">Submit</button>
                <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<button id="btn-preview-deposit" data-toggle="modal" data-target="#preview-deposit-modal" style="display: none;">
    <span class="text">Preview</span>
</button>

<div class="modal fade" id="preview-deposit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deposit Preview</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-danger">
                            Please show the code below to the cashier for payment.
                        </p>
                    </div>
                </div>
                <div id="preview-details"></div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="text-gray-700">Email Address:</label>
                    </div>
                    <div class="col-md-6">
                        <label class="text-primary">@(Auth.user().Email)</label>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <div id="qrcode"></div>
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    var permission = {
        view: "@DashboardController.ModulePermissions.Contains(registration.Helpers.Ability.View).ToString()",
        edit: "@DashboardController.ModulePermissions.Contains(registration.Helpers.Ability.Update).ToString()",
        create: "@DashboardController.ModulePermissions.Contains(registration.Helpers.Ability.Create).ToString()",
        remove: "@DashboardController.ModulePermissions.Contains(registration.Helpers.Ability.Delete).ToString()"
    };

    if (permission.view === "False") {
        $('.container-fluid').empty()
            .append('<div class="col-12"><h3 class="text-danger">You do not have the permission to view this page!</h3></div>');
    }


</script>